nav.navigation
  .navigation_wrapper
    a.navigation_link(href="/")
      | Floema

      svg.navigation_link_item

    ul.navigation_list
      li.navigation_list_link(href="/about")  About
      li.navigation_list_link(href="/details")  Details
