nav.navigation
  .navigation_wrapper
    a.navigation_link(href="/")=meta.data.title
      svg.navigation_link_item

    ul.navigation_list
      each item in navigation.data.list
        li.navigation_list_item
          a.navigation_list_link(href=Link(item))=item.text
